<form class="example-form">
    <mat-form-field class="example-full-width">
      <!--הניימ בכחול זה תכונה של HTML-->
      <!--הניימ הכתום זה המשתנה שלנו בקובץ TS-->
      <input [(ngModel)] = "name" name = "name" matInput placeholder="First name">
      <mat-hint>Your first name</mat-hint>
    </mat-form-field>
    

    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>Your Email</mat-hint>
    </mat-form-field>

       <!--להצגת קוד השגיאה באדום-->
    <p class = "error" *ngIf = "code == 'auth/invalid-email'"> <!--ההודעה שאחרי השווה נלקחת מהקונסול-->
      {{message}}
    </p>
  
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Try as strongs as possible</mat-hint>
    </mat-form-field>
           
    <p class = "error" *ngIf = "code == 'auth/weak-password'"> <!--ההודעה שאחרי השווה נלקחת מהקונסול-->
      {{message}}
    </p>

    <button mat-raised-button (click) = "signup()">
      Sign Up
    </button>
</form>