<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">

  <!--  {{text}} -->
  <!--- {{id}}-->
  <!--
   <button (click) = "send()"
            *ngIf = "showTheButton">
    Click to see
   </button>
  -->

  <span *ngIf = "!showEditField" 
        (click) = "showEdit()">
         {{text}}
    </span>    <!--מתוך הקובץ ts-->
  
  <mat-form-field *ngIf = "showEditField">
    <input [(ngModel)] = "text" matInput >
  </mat-form-field>
  
  <button mat-raised-button 
    *ngIf = "showEditField"
    (click) = "save()">
  Save
  </button>

  <button mat-raised-button 
  *ngIf = "showEditField"
  (click) = "cancel()">
Cancel
</button>

  <button mat-raised-button
  (click) = "delete()"
  *ngIf = "showTheButton">
Delete
</button>
</li>

